#button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .column{
    margin-right: 30px;
    margin-bottom: 9px;
    display: inline-block;
  }

  .person {
    width: 160px;
    height: auto;
  }

  /* .firstname{
    position: fixed;
    bottom: 550px;
    right: 1000px;
    width: 200px;
  } */
  
  /* .lastname{
    position: fixed;
    bottom: 520px;
    right: 1000px;
    width: 200px;
  } */

  /* .phone{
    position: fixed;
    bottom: 490px;
    right: 1000px;
    width: 200px;
  } */